<!DOCTYPE html>
<html>
<head>
	<title> User Reviews</title>
</head>
<style type="text/css">
	.body{
		background-color: white;
	}
	span{
		border:1px solid black;
		border-radius: 5%;
	}
	.comments{
		border:1px solid black;
		height: 90vh;
		width:98vw;
	}
</style>
<body>
<section class="body">
	<center>
		<h3>User Reviews</h3>
		User reviews are most valueble for us but it also help one to understand the nature of perticular objective of the organisation<br>
		<span>*Note :- You must log in to post a comment here</span>
	</center>
	<div class="comments"><center>No comments to display for now</center></div>
</section>
</body>
</html>